@import "tailwindcss";

/* Dark mode support (Tailwind v4 style) */
@custom-variant dark (&:is(.dark *));

/* Theme tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
}

/* Base styles */
@layer base {
  *,
  ::before,
  ::after {
    @apply border-border outline-ring/50;
  }

  button{
    @apply cursor-pointer;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  h1 {
    @apply text-3xl font-semibold leading-tight;
  }
  h2 {
    @apply text-2xl font-medium leading-tight;
  }
  h3 {
    @apply text-xl font-medium;
  }
  h4 {
    @apply text-lg font-medium;
  }
  h5 {
    @apply text-base font-medium;
  }
  p {
    @apply text-sm leading-relaxed;
  }
}

/* Light theme */
:root {
  --radius: 0.625rem;

  --background: #f4f7f8;
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #074d67;
  --primary-foreground: oklch(0.985 0 0);

  --secondary: #f8ad2a;
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

/* Dark theme */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background:  rgba(214, 49, 49, 0.603);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(214, 49, 49, 0.603);
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(214, 49, 49, 0.603);
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #044866 #f5f7fa;
}
